<h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr>

      <table id="skaters_table" class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#each skaters}}
          <tr id="{{this.id}}">
            <th scope="row">{{this.index}}</th>
            <td><img src="/img/{{this.foto}}" class="img-fluid rounded-circle" width="50"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
              {{#if this.estado}}
                <td><input type="checkbox" checked /></td>
              {{else}}
                <td><input type="checkbox"/></td>
              {{/if}}         
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
      <script type="module"src="/js/admin.js"></script>